<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"salecraft-ecommerce/search-result-banner"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"50px","bottom":"60px","right":"0","left":"0"}}},"backgroundColor":"secondary-bg","layout":{"type":"constrained","contentSize":"85%"}} -->
<main id="content" class="wp-block-group alignfull has-secondary-bg-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:50px;padding-bottom:60px;">
	<!-- wp:shortcode -->
	[cpm_search_results]
	<!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->