<!-- wp:template-part {"slug":"header","theme":"salecraft-ecommerce","tagName":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"salecraft-ecommerce/inner-page-banner"} /-->

<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"secondary-bg","layout":{"type":"default"}} -->
<main id="content" class="wp-block-group alignfull has-secondary-bg-background-color has-background" style="margin-top:0;margin-bottom:0;padding:0;">

  <!-- wp:post-content /-->

</main>
<!-- /wp-group -->
</div>
<!-- /wp-group -->

<!-- wp:template-part {"slug":"footer","theme":"salecraft-ecommerce","tagName":"footer","area":"footer"} /-->
