<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main id="content" class="wp-block-group font-sans max-w-[1200px] w-[90%] mx-auto min-h-[60vh] py-6 box-border">
    <!-- wp:post-title {"level":1,"textAlign":"center","style":{"typography":{"fontSize":"32px","fontWeight":"900"}},"className":"my-6"} /-->
    <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1200px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
